html, body {
  font-family: 'Lato', sans-serif;

}
.jumbotron {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/static/image/jumbotron_bg.jpg");
  background-size: cover;
  color: #fff;
}
body {
  background-color: #000;
}
div {
  background-color:  #fff;
}

.preppy {
  color: rgb(121, 113, 113);
}